<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="surname"></label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Age error</div>
    <br/>
    <label for="fatherName"></label>
    <input type="text" th:field="*{fatherName}" id="fatherName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}">Email error</div>
    <br/>
    <label for="email"></label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
    <br/>
    <label for="birthdayYear"></label>
    <input type="number" th:field="*{birthdayYear}" id="birthdayYear">
    <div style="color:red" th:if="${#fields.hasErrors('birthdayYear')}" th:errors="*{birthdayYear}">Name error</div>
    <br/>
    <input type="submit" value="Edit!">
</form>

</body>
</html>