<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

<form action="/process_login" name="f" method="post">
    <label for="username">Введите имя пользовтеля</label>
    <input type="text" name="username" id="username">
    <br/>
    <label for="password">Введите имя пользовтеля</label>
    <input type="password" name="password" id="password">
    <br/>
    <input type="submit" value="login">

    <div th:if="${param.error}" style="color:red">
        Некорректные пользователськие данные
    </div>

</form>

</body>
</html>