<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<form action="#" th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name"></label>
    <input type="text" th:field="*{name}" id="name">
    <td style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</td>
    <br/>
    <label for="age"></label>
    <input type="number" th:field="*{age}" id="age">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
    <br/>
    <label for="email"></label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
    <br/>
    <label for="address"></label>
    <input type="text" th:field="*{email}" id="address">
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name error</div>
    <br/>
    <input type="submit" value="Create!">
</form>

</body>
</html>