<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <input type="text" th:field="*{getTitle}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{getTitle}"></div>
    <label for="name">Name</label>
    <br/>
    <input type="text" th:field="*{author}" id="author">
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <label for="author">Author Name</label>
    <br/>
    <input type="number" th:field="*{releaseYear}" id="releaseYear">
    <div style="color:red" th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}"></div>
    <label for="releaseYear">Release Year</label>
    <br/>
    <input type="submit" value="Add">
</form>
</body>
</html>